* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(./media/gojo\ background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box {
    height: 85vh;
    width: 80%;
    padding: 0 20px;
    background-color: rgba(225, 225, 225, 0.1);
    z-index: 10;
    border: 4px solid rgb(225, 225, 225);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(100px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

.container .img-logo {
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: -25px;
    transition: all .5s;
}

.container .img-logo:hover {
    transform: translateY(-10px);
}

.container .logo {
    font-size: 50px;
    color: white;
    font-family: 'Dosis', sans-serif;
    margin-left: -550px;
    margin-top: 30px;
    transition: all .5s;
    cursor: pointer;
}

.container .logo::first-letter {
    color: rgb(0, 102, 255);
    font-size: 55px;
}

.container .logo:hover {
    transform: translateY(-10px);
}

.box nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 7%;
    width: 94%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    padding: 20px;
}

.container nav ul li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 30px;
    transition: all .4s ease-in-out;
}

.container nav ul li a {
    font-size: 20px;
    color: rgb(0, 102, 255);
    border-bottom: 2px solid rgb(0, 102, 255) transparent;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.container .box nav ul li a:hover {
    border-bottom: 2px solid rgb(0, 102, 255);
    color: white;
}

.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 50px;
    z-index: -1;
}

.content .section-1 {
    position: relative;
    width: 40%;
}

.content .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 102, 255);
}

.content .section-1 h3 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.content .section-1 p {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin-bottom: 50px;
}

.content .btn {
    padding: 15px 20px;
    border-radius: 15px;
    background-color: rgb(0, 102, 255);
    color: white;
    border: 3px solid rgb(0, 102, 255);
    transition: all .4s ease-in-out;
    width: auto;
}

.content .btn:hover {
    transform: translateY(-10px);
    background-color: white;
    color: rgb(0, 102, 255);
}

.content .section-2 {
    position: relative;
}

.content .section-2::after {
    content: '';
    position: absolute;
    background-color: rgb(0, 102, 255);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    z-index: -1;
    left: 18%;
    top: 5%;
}

.icons {
    position: absolute;
    top: 50%;
    left: -3%;
    padding: 0 9%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    font-size: 35px;
    line-height: 50px;
    color: rgba(225, 225, 225, 0.9);
    transition: all .5s ease-in-out;
}

.icons i:hover {
    transform: translateY(-8px);
    color: rgb(0, 102, 255);
}

.menu-button {
    display: none;
}


.menu {
    display: none;
}

#close {
    position: absolute;
    right: 5%;
    top: 0%;
    color: white;
    font-size: 50px;
    cursor: pointer;
}


@media screen and (max-width: 1560px) {
    .logo {
        display: none;
    }
}

@media screen and (max-width: 1288px) {
    .content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .content .section-1 {
        width: 100%;
        margin-top: 20%;
        text-align: center;
    }

    .content {
        height: 80%;
        margin: 0;
    }

    .content .section-1 h1 {
        width: 100%;
    }

    .content .section-1 h3 {
        font-size: 30px;
        margin-bottom: 15px;
        width: 100%;
        position: relative;
    }

    .content .section-1 p {
        font-size: 18px;
        width: 100%;
    }


    .content .section-2  img{
        height: 40%;
    }

    .container .box {
        height: 145vh;
        width: 80%;
        margin-top: 7%;
    }

    .container {
        height: 70%;
        padding-bottom: 10%;
    }

    .section-2 {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1126px) {
    .icons {
        left: -5%;
    }
}

@media screen and (max-width: 952px) {
    .content .section-2 {
        position: relative;
    }

    #a-bnt {
        margin: 0;
    }
    
    .content .section-1 h1 {
        font-size: 30px;
    }

    .content .section-1 h3 {
        font-size: 20px;
    }

    .content .section-1 p {
        font-size: 17px;
    }

    .content .section-1 {
        width: 100%;
        text-align: center;
        margin-top: 28%;
    }

    .content .section-2 {
        margin-top: 20%;
    }

    .content {
        margin: 0;
    }
}

@media screen and (max-width: 810px) {
    .content .section-2 img {
        max-width: 100%;
        height: auto;
    }

    .content .section-2::after {
        width: 330px;
        height: 330px;
        left: 0%;
        top: 0%;
        margin-left: 14%;
    }
}

@media screen and (max-width: 796px) {
    .content .section-2::after {
        left: 7%;
    }
}

@media screen and (max-width: 742px) {
    .box ul {
        display: none;
    }

    .box nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box .img-logo {
        height: 150px;
        width: 100%;
        margin-left: 3px;
        margin-top: 50px;
    }

    .icons {
        left: -6%;
    }

    .content .section-2::after {
        left: 5%;
    }

    .menu {
        display: none;
        transition: all .5s ease-in-out;
    }

    .menu-button i {
        color: rgb(0, 102, 255);
        font-size: 35px;
        transform: rotate(180deg);
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .menu .menu-content {
        position: absolute;
        top: 0%;
        right: 0;
        width: 300px;
        height: 100%;
        background: rgb(0, 102, 255);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        z-index: 100000;
    }

    .menu .menu-content ul {
        list-style: none;
        font-size: 30px;
        line-height: 100px;
        text-align: center;
        padding-top: 50px;
    }

    .menu .menu-content ul a {
        color: white;
        text-align: center;
        transition: all .4s ease-in-out;
    }

    .menu .menu-content ul a:hover {
        color: black;
        transform: translateY(-10px);
    }

    #menu-button {
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .content .section-2::after {
        left: 3%;
    }
}

@media screen and (max-width: 648px) {
    .content .section-2::after {
        left: 0%;
        top: -2%;
    }
}

@media screen and (max-width: 640px) {
    .content .section-2::after {
        display: none;
    }
}

@media screen and (max-width: 592px) {
    .icons i {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .icons i {
        font-size: 20px;
    }
}